*{
    box-sizing:  border-box;
}

body{
  font-family: Arial;
  padding: 10px;
  background-color: #99badd;
}

.field{
    border:2px solid #FF9B73;
    border-radius: 6px;
    padding: 15px;
    margin: 10px;
    
    
}


.header {
  padding: 30px;
  text-align: center;
  background: whitesmoke;
}

.header h1 {
  font-size: 50px;
}


.topnav {
  overflow: hidden;
  background-color: rgb(241, 93, 48);
  border-radius: 0px 0px 7px 7px;
  margin-bottom: 10px;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #FF9B73;
  color: black;
}

.center{
  margin: auto;
  width: 30%;
  
  height: 40%;
  background-color: aliceblue;
  border-radius: 7px;
  padding: 10px;
}

input[type=number]{
float: right;
padding: 3px;
font-size: 14px;
border: 1px solid grey;
border-radius: 3px;
}

input[type=text]{
float: right;
padding: 3px;
font-size: 14px;
border: 1px solid grey;
border-radius: 3px;
}


input[type=password]{

float: right;
padding: 3px;
font-size: 14px;
border: 1px solid grey;
border-radius: 3px;
}
input[type=button]{
    float: right;
    
    padding: 5px 5px;
  border-radius: 5px;
  border-color: rgb(241, 93, 48);
}
input[type=submit]{
    float: left;
    padding: 5px 8px;
  border-radius: 5px;
  border-color: rgb(241, 93, 48);
}
