@import "headfoot.css";
@import "base.css";

.body{
    align-items: center;
}

.route-table{
    color: black;
    margin: auto;
}

.route-cell{
    color: black;
}

tbody{
    display: table-row-group;
    color: black;
}

